// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
    color: #fff;
    background-color: red;
    border-radius: 0.25rem;
    padding: 1rem;
}