.cards {
    display: flex;

    & .card:nth-child(2) {
        margin-left: 3rem;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;


        & .card:nth-child(2) {
            margin-left: 0;
            margin-top: 3rem;
        }
    }
}

.card {
    text-align: justify;

    .card-title {
        text-align: center;
    }
}