.imaged-section {
  display: flex;
  align-items: center;

  &.imaged-section-reversed {
    flex-direction: row-reverse;

    > *:nth-child(1) {
      padding-left: 1rem;
      padding-right: 0rem;
    }

    > *:nth-child(2) {
      padding-left: 0rem;
      padding-right: 1rem;
    }
  }

  > *:nth-child(1) {
    padding-left: 0rem;
    padding-right: 1rem;
  }

  > *:nth-child(2) {
    padding-left: 1rem;
    padding-right: 0rem;
  }

  .imaged-section-text {
    text-align: justify;

    h3 {
      color: $text-color-secondary;
    }

    .links {
      padding: 0;
      justify-content: flex-start;
    }
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;

    &.imaged-section-reversed {
      flex-direction: column;

      > *:nth-child(1) {
        padding-left: 0;
      }
    }

    > *:nth-child(2) {
      padding-left: 0rem;
    }

    .imaged-section-img {
      margin: auto;
    }

    .imaged-section-text {
      h3 {
        text-align: center;
      }

      .links {
        justify-content: center;
      }
    }
  }
}
