.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .navbar-items {
    display: flex;
    list-style: none;

    .navbar-item {
      margin-left: 1rem;
      padding: 1rem;
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}
