// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  background-color: $background-color-light;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  margin-top: 0;
}

/**
 * Basic styles for links
 */
a {
  color: $primary-color;
  text-decoration: none;
  transition: all 0.15s linear;

  @include on-event {
    color: $button-background-color-hover;
  }
}
