// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

html {
  scroll-behavior: smooth;
}

.centered {
  text-align: center;
}

.section {
  padding-top: 5rem;

  &:last-of-type {
    padding-bottom: 3rem;
  }
}

.brand-section {
  padding-top: 10rem;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $background-color;
    transform: skewY(-3deg) translateY(3rem);
    z-index: -1;
    box-shadow: $card-shadow;
  }

  h1 {
    margin-top: 2rem;
  }

  q {
    color: $text-color-secondary;
  }
}

.services-section {
  h3 {
    color: $text-color-secondary;
  }

  .cards {
    display: flex;

    & .card {
      margin-left: 3rem;
      width: calc(100% / 3);

      &:first-child {
        margin-left: 0;
      }
    }

    @media screen and (max-width: 1000px) {
      flex-direction: column;

      & .card {
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .card {
    text-align: justify;

    .card-title {
      text-align: center;
    }
  }

  .call-to-action {
    margin-top: 2rem;

    * {
      margin: auto;
    }
  }
}

.about-section .imaged-section-img {
  max-height: 300px;
  width: 100%;
  max-width: 300px;
}

.about-section .imaged-section-img img {
  border-radius: 100%;
  width: 100%;
  box-shadow: $card-shadow;
}

.portfolio-section .imaged-section {
  margin-top: 3rem;

  .imaged-section-img {
    width: 100%;
    max-width: 50%;
    box-shadow: none;

    img {
      width: 100%;
    }

    @media screen and (max-width: 700px) {
      max-width: 100%;
    }
  }
}
