// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $background-color;
  z-index: 1;
}
